<a class="interface-toggle masthead__help" href="{{assetPrefix}}index.html"><i class="fa-solid fa-house" aria-hidden="true"></i><span>Home</span></a>
<div class="options-menu" id="optionsMenu">
    <button class="interface-toggle options-menu__trigger" id="optionsMenuToggle" type="button" aria-haspopup="menu" aria-expanded="false" aria-controls="optionsMenuPanel">Settings</button>
    <div class="options-menu__surface" id="optionsMenuPanel" aria-labelledby="optionsMenuToggle">
        <button class="interface-toggle options-menu__item" id="audioSettingsButton" type="button" aria-haspopup="dialog" aria-expanded="false" aria-controls="audioSettingsOverlay">Audio</button>
        <button class="interface-toggle options-menu__item" id="qualityPreferencesToggle" type="button">Quality Preferences</button>
    </div>
</div>
