<header class="surface interface-header masthead-console" role="banner">
            <div class="masthead__brand">
                <div class="banner__emblem-stack">
                    <span class="banner__emblem">
                        <img src="{{assetPrefix}}files/images/icons/logo.png" alt="Sols Rolling Simulator logo" class="banner__emblem-logo" decoding="async" fetchpriority="high">
                    </span>
                </div>
                <div class="banner__meta">
                    <div class="masthead-console__rail">
                        <span>Simulation Interface</span>
                    </div>
                    <div class="masthead-console__title-row">
                        <h1 class="banner__title">Sol's RNG Rolling Simulator</h1>
                    </div>
                    <div class="banner__subtitle masthead-console__metadata">
                        <button type="button" class="banner__version-button masthead-console__meta-card masthead-console__meta-card--version masthead-console__version" id="versionInfoButton" aria-haspopup="dialog" aria-expanded="false" data-version-id="v2.205">
                            <i class="fa-solid fa-code-branch" aria-hidden="true"></i>
                            <span><small>Current build</small><strong>Version 2.205</strong></span>
                        </button>
                        <span class="masthead-console__meta-card banner__subtitle-author">
                            <span class="masthead-console__creator-avatar-flip" aria-hidden="true">
                                <span class="masthead-console__creator-avatar-inner">
                                    <img class="masthead-console__creator-avatar masthead-console__creator-avatar--front" src="{{assetPrefix}}files/images/other/theUnnamed.png" alt="" decoding="async">
                                    <img class="masthead-console__creator-avatar masthead-console__creator-avatar--back" src="{{assetPrefix}}files/images/other/theUnnamed-flipped.gif" alt="" decoding="async">
                                </span>
                            </span>
                            <span class="banner__subtitle-author-text">
                                <small>Created by</small>
                                <span class="banner__subtitle-author-name">
                                    <a href="https://discord.com/users/611204110955446301" target="_blank" rel="noopener">not.unnamed</a>
                                </span>
                            </span>
                        </span>
                        <span class="masthead-console__meta-card banner__subtitle-updated">
                            <i class="fa-solid fa-clock-rotate-left" aria-hidden="true"></i>
                            <span><small>Latest deployment</small><time id="latestDeploymentTime" aria-live="polite">Checking published deployment…</time></span>
                        </span>
                        <span class="masthead-console__meta-card banner__subtitle-eon">
                            <i class="fa-solid fa-gamepad" aria-hidden="true"></i>
                            <span>
                                <small>Game build</small>
                                <span class="banner__subtitle-game-version">
                                    <a href="https://www.roblox.com/games/15532962292/Sols-RNG" target="_blank" rel="noopener">
                                        <span class="banner__game-version-name">Sol's RNG Eon 1-29</span>
                                    </a>
                                </span>
                            </span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="masthead__controls">
                {{pageControls}}
            </div>
            <span class="masthead-console__status"><i class="fa-solid fa-signal" aria-hidden="true"></i> Systems online</span>
        </header>
